body{
    background-color: white;
}
.autocomplete{
    position: relative;
    display: inline-block;
}
.bigtext{ 
    font-size: 40px;
}

.form
{
    font-size: 30px;
    outline-width:10px
}
.flight
{
    border-style: solid;
    border-color: lightblue;
    border-width: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
    
}

.flight-right{
    text-align:right;
    padding-right: 100px;
    border-style: solid;
    
   
}

.flight-left{
    border-style: solid;
    border-right: 0px;
    padding-left: 100px;
    float: left;
}

.inputForm{
    font-size: 30px;
}

table {
    border-collapse: collapse;
    
}

td, th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
}
