<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/app.css" />
    <link rel="stylesheet" href="../styles/searchflights.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap-grid.css">
    <title>Flights Search | Triangle Takeoff</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <header>
      <nav class="nav" id="navbar-container">
        <!-- Navbar logo -->
        <div class="nav-logo-container">
          <h3 class="nav-logo">
            Triangle Takeoff
          </h3>
        </div>
        <!-- Navbar links -->
        <div class="nav-links-container">
          <ul class="nav-list">
            <li class="nav-item"><a href="#">Find Flights</a></li>
            <li class="nav-item"><a href="#">Flight info</a></li>
            <li class="nav-item"><a href="login.html">Sign in</a></li>
            <!-- Will dynamically change if logged in to: My Account-->
          </ul>
        </div>
      </nav>
    </header>

    <!-- SEARCH FLIGHTS INPUT -->
    <section id="search-flights">
      <div class="search-form-container" style="background-color: blue;">
        <form action="#" class="search-form" style="background-color: lightcyan;">
          <!-- Destination -->
          <div class="search-input-container"> 
            <label class="search-label" for="destination">Destination</label>
            <input class="search-input" type="search" name="destination" id="" placeholder="ex. CHI">
          </div>
          <!-- Depart Date -->
          <div class="search-input-container"> 
            <label class="search-label" for="depart-date">Depart date</label>
            <input class="search-input" type="date" name="depart-date" id="depart-date" >
          </div>
          <!-- Return Date -->
          <div class="search-input-container"> 
            <label class="search-label" for="arrive-date">Arrive date</label>
            <input class="search-input" type="date" name="arrive-date" id="arrive-date" >
          </div>
      </div>
    </section>

    <!-- SEARCH FLIGHTS LISTINGS -->
    <section id="flights-list" class="fluid-container">
      <h3 style="text-align: center;">Flights </h3>
      <article class="container">
        <div class="row flight-container">
          <div class="flight-left col-8">
          <p class="flight-subtext">Arrive</p>
          <p class="flight-time time--arrive">7:00<span>am</span></p>
          <p class="flight-subtext time--depart">Depart</p>
          <p class="flight-time time--depart">8:00<span>pm</span></p>
        </div>
        <div class="flight-right col-4">

          <button class="btn book-flight" onclick="searchFlight()">Book Flight</button>
        </div>
      </div>
      <script type="module" src="../javascript/headers.api.js"></script>
<script type="module" src="../javascript/Flights.js"></script>



<!-- 
<h2>The XMLHttpRequest Object</h2>

<button type="button" onclick="loadDoc()">Request data</button>

<p id="demo"></p>

<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "demo_get2.asp?fname=Henry&lname=Ford", true);
  xhttp.send();
}
</script>
  -->

        
        <!-- 

          myObj = { "name":"John", "age":30, "car":null };
          for (x in myObj) {
          document.getElementById("demo").innerHTML += x;
          }       

          var obj = { "name":"John", "age":30, "city":"New York"};
          var myJSON = JSON.stringify(obj);
          document.getElementById("demo").innerHTML = myJSON;


          {
    "success": "true",
    // any other data you requested
}
{
    "error": "an error message describing what went wrong",
    // any other relevant data (like retryAfter)
}
          The public flight view shows the following information for both arriving and departing flights:



          
           

Scheduled time to arrive/depart
City the flight is arriving from/departing to (e.g. Los Angeles)
The name of the airline that runs the flight (e.g. American Airlines)
The flight number (e.g. UA1664)
The latest status of the flight
Possible statuses:
past (completed flight)
scheduled (future flight)
cancelled
delayed
on time
landed (but not at gate yet)
arrived
boarding
departed (finished boarding, left airport)
If the flight is a departure:
The latest gate information is also shown
The name of the airport departing flights is departing to (e.g. CHI for BDPA Chicago Airport) -->
<!-- your team only has to worry about booking tickets for flights where type=="departure" where landingAt -->
      </article>

    </section>

    <!-- <div class = "flight JetBlue America France Delayed 240PM 300dollars" style = "font-size: 30px">
    <div class= "flight-left"> 
        <p>2:40 PM <span>America to France</span></p>
        <p>Delayed</p>
    </div>
    <div class = "flight-right">
        <p>JetBlue</p> 
        <p>$300</p>
    </div>
</div> -->
  </body>
</html>
