<!DOCTYPE html>
<head></head>
<html lang="en">
<link rel = "stylesheet" href = "../styles/searchmenu.css">
<title>Schedule A Flight</title>

<h1 class = "bigtext">
Triangle Takeoff
</h1>


<div id = "inputForm">
<form autocomplete = "off" action="flightFilter()" style = "padding-bottom: 20px">
    <label for="origin">
        <span>Origin</span>
        <input type="text" autocomplete="off" id="origin" placeholder="Select an Origin" name = "origin" style = "font-size:20px;"/>
    </label>

    <label for="destination">
        <span>Destination</span>
        <input type="text" id="destination" placeholder="Select a Destination" name = "destination" style = "font-size:20px;"/>
    </label>
     
    <label for="airline">
        <span>Airline</span>
        <input type="text" id="airline" placeholder="Select an Airline" name = "airlinte" style = "font-size:20px;"/>
    </label>

    <label for="Time">
        <span>Departure Time</span>
        <input type="text" id="time" placeholder="Select a Time" name = "time" style = "font-size:20px;"/>
    </label>

    <label for="Price">
        <span>Price</span>
        <input type="text" id="price" placeholder="Select a Price" name = "price" style = "font-size:20px;"/>
    </label>

 <input type = "button" onclick = "flightFilter()" value="Filter" id = "filter" name = "filter" style = "font-size:20px;"> </input>  
</form>
  
<div id = allFlights>
    <div class = "flight" class = "JetBlue" class = "America" class = "Delayed" class = "240PM" class = "300dollars" style = "font-size: 30px">
        <div class= "flight-left"> 
            <p>2:40 PM <span>America</span></p>
            <p>Delayed</p>
        </div>
        <div class = "flight-right">
            <p>JetBlue</p>
            <p>$300</p>
        </div>
    </div>

    <div class = "flight" class = "DeltaAirlines" class = "Japan" class = "Delayed" class = "240PM" class = "300dollars" style = "font-size: 30px">
        <div class= "flight-left"> 
            <p>2:40 PM <span>Japan</span></p>
             <p>On Schedule</p>
        </div>
        <div class = "flight-right">
            <p>Delta Airlines</p>
            <p>$240</p>
        </div>
    </div>
</div>

<script>
var flight1 = {origin: "America", destination = "Japan", airline = "Delta"}


</script>


</html>